 *{
  box-sizing: border-box;
  margin: 0;
  outline: 1px solid red;
}
nav{
      display: flex;
      justify-content: space-between;
      word-spacing: 50px;  
      margin-top: 25px;   

}
nav img{
  margin-left: 2rem;
        
    
   
}
.nav-links{
           margin-right: 20rem;
           margin-top: 27px;
           
}
a{
          color: white;
          text-decoration: underline;
          font-size: larger;
}
body{
    background-image: url(./header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 680px;
}
.header{
        display: flex;
        gap: 8rem;        
}
.header-text h1{
              margin-left: 2rem;
              margin-top: 5rem;
              font-size: 50px;
              font-weight: 900;
              color: white;
              
}
.header-text h4{         
               font-size: 30px;
               color: white;
               margin-left: 2rem;
}
.img{
     border-radius: 56px;
     overflow: hidden; 
     position: relative;
}
.img-single{
           display: none;
          
}
h5{
   background-color:#FFFFFF4D ;
   margin: auto;
   width: 150px;
   margin-left: 3rem;
   padding: 8px;
   padding-left: 27px;
   border-radius: 80px;
   margin-top: 1rem;
   color: #ffff;
}
.login{
      background-color: #ffff;
      width: 263px;
      height: 123px;
      position: absolute;
      left: 40rem;
      z-index: 1;
      border-radius: 20px;
      top: 34rem;
      padding: 10px;  
      opacity: 0.9;
}

.ST{
    font-size: 24px;
    font-weight: 700;
    font-family: poppins;
    margin-left: 5px;
    position: absolute;
    top: 25px;
       
}
button{
       background-color: #D8587E;
       width: 86px;
       height: 33px;
       color: #ffff;
       border-radius: 80px;
       margin-left: 6rem;      
}

.joseph{
       text-align: center;
       margin-top: 5rem;
}
.joseph h1{
           font-weight: 700px;
           font-family: "poppins", sans-serif;
           color:  #2F327D;
}
.college{
        color: lightseagreen;
}
.joseph p{
          line-height: 180%;
          font-family: "poppins", sans-serif;
          font-size: 16px;
          font-weight: 400px;
          color: #696984;  
}
.everything{
          
           display: flex;
           text-align: center;
           justify-content: space-around;
           gap: 50px;
           line-height: 180%;
           font-family: "poppins", sans-serif;
           font-size: 16px;
           font-weight: 400px;
           margin-top: 5rem;
          
           
           
          
          
           

}
.pre{
     background-color: #ffff;
     box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
     border-radius: 20px;
     padding:10px;
     height: 270px;
     
     
     
                
}

.primary{
         background-color: #ffff;
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 20px; 
        padding: 0px;  
        height: 270px;
        width: 367px;
}
.primary p{
          margin-top: 2rem;
}
.primary h4{
           margin-top: 2rem;
           font-size: 30px;
           font-family: "poppin", sans-serif;
           font-weight: 400px;
           color:#2F327D;
}
.secondary{
           background-color: #ffff;
           box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
           border-radius: 20px; 
           padding: 0px;
           
           height: 270px;
           width: 367px;
           
}
.img-icon{
        display: flex;
        justify-content: space-between;
         margin-top: 2rem;
         position: absolute;
         gap: 350px;        
}
.img-1{
      margin-left: 8rem;
}
.img-2{
  margin-right: 1rem;
      
}

.pre p{
   margin-top: 2rem;
}
.pre h4{
           margin-top: 2rem;
           font-size: 30px;
           font-family: "poppin", sans-serif;
           font-weight: 400px;
           color:#2F327D;
}
.secondary h4{
            margin-top: 2rem;
           font-size: 30px;
           font-family: "poppin", sans-serif;
           font-weight: 400px;
           color:#2F327D;
}
.secondary p{
            margin-top: 1rem;
}
footer{
       background-color:#49BBBD;
       margin-top: 6rem;
       height:44px;
       text-align: center;
       padding: 20px;
       font-size: 12px;
       font-weight: 400px;
       font-style: normal;
       font-family: "Montserrat", sans-serif;
}
.fa-bars{
      
        display: none !important;
       
}
#img-1{
      display: none !important;
}
#img-2{
       display: none;
}
#img-3{
      display: none;
}


@media only screen and (max-width: 600px){  
                                       


                                    
                                     .fa-bars{
                                            
                                            margin: 10px;
                                            font-size: 21px;
                                            display: flex !important;
                                            cursor: pointer;
                                           
                                            
                                           

                                     }
                                     .far{
                                          background-color: #fff;
                                          width: 40px;
                                          height: 40px;
                                          margin: 1rem;
                                          border-radius: 8px;
                                          opacity: 0.7;

                                     }
                                    
                                    .nav-links{
                                             background-color: rgba(25, 14, 14, 0.895);
                                             position: absolute;
                                             flex-direction: column;
                                             left: 7rem;
                                             width: 65%;
                                             padding: 20px;
                                             z-index: 1;
                                             margin-top: 4rem;
                                             border-radius: 10px;
                                             display: none;
                                            
                                    }
                                    .nav-links a{
                                                font-size: 25px;
                                                margin: 2rem;
                                                
                                    }
                                    .nav-links.active{
                                                     display: flex;
                                                     flex-direction: column;
                                                     
                                                    
                                                     
                                    }
                                   
                                               
                                    
                                          body{
                                    background-image: none;
                                    background-color: #fff;
                                    background-image: linear-gradient(#49BBBD,#260BA1);
                                    background-repeat: no-repeat;
                                    height: 650px;
                                    width: auto;
                                    border-radius: 20px !important;
                                    
                                    }
                                    .header{
                                           position: absolute;     
                                    }
                                   
                                    .header-text h1{
                                                   font-size: 30px;
                                                  
                                                   
                                                   
                                                   
                                    }
                                    .header-text h4{
                                                  font-size: 10px;
                                                  
                                    }
                                    .img{
                                        display: none;
                                    }
                                    .img-single{
                                             
                                            display: contents !important;
                                    }
                                    .login{
                                          margin-left:2rem;
                                          position:static;
                                          overflow: visible;
                                          margin-top: 50%;
                                          


                                    }
                                    .ST{
                                        position: static;
                                        
                                       
                                    }     
                                    .joseph p{
                                             text-align: center;
                                             margin: 5px;
                                             font-size: 19px;   
                                    }        
                                    .everything{
                                                display: block;
                                                
                                                
                                                
                                    }
                                    .pre{
                                         width:  100%;
                                         max-width: 800px;
                                         margin: auto;
                                         height: 10%;

                                    }
                                    .pre .p{
                                            font-size: 15px;
                                    }
                                    .primary{
                                            margin: auto;
                                             margin-top: 5rem;
                                             padding-top: 1rem;
                                              width: 95%;
                                              max-width: 800px;
                                    }    
                                    
                                    .secondary{
                                           margin: auto;
                                           margin-top: 5rem;
                                           padding-top: 1rem;
                                            width: 95%;
                                             max-width: 800px;
                                         
                                    }
                                    .img-icon{
                                             display: none !important;
                                             gap: 0px;
                                             display: block;
                                            
                                             
                                    }
                                    .img-1{
                                          margin-left: 9rem;
                                          
                                          
                                    }   
                                    .img-2{
                                          margin-top: 21rem;
                                         
                                          
                                          
                                         
                                    }    
                                      
                                     footer{
                                           padding: 8px;
                                           
                                     }   
                                     #img-1{
                                            display: flex !important;
                                            
                                            position: absolute;
                                            margin-top: 30px;
                                            margin-left: 40%;
                                     }
                                     #img_2{
                                             display: flex !important;
                                             position: absolute;
                                             margin-top: 30px;
                                             margin-left: 40%;
                                           
                                     } 
                                     #img-3{
                                             display: flex !important;
                                             position: absolute;
                                             margin-top: 30px;
                                             margin-left: 40%;
                                     }  
                                      .primary p{
                                        margin-top: 1rem;
                                              
                                      }
                                     
                                    }
                                   
                                  

