*{
    margin: 0;
    box-sizing: border-box;
}
body{
     background-color: white;
     
}

     
           


.content{
         background-color: rgba(210, 205, 205, 0.959);
         width: clamp(400px, 65%, 756px);
         height: clamp(60px, 20vh, 100px);
         position: relative;
         margin: auto;
         padding: 0.1rem;
         border-radius: 10px;
         bottom: 11.4rem;
        
         
}
@media (max-width: 600px){
              .content{
                     bottom: 4rem;
              }
}
.content h1{
    font-size: clamp(0.9rem, 1.1vw + 0.6rem,  10rem);
    position: absolute;
    top: clamp(0.2rem, 50%, 1.9rem);  
    left: 7rem;      
    color:  #3C3D6D;
    font-weight: bold;
    font-family: "poppins", sans-serif;
}
.content p{
           font-size: clamp(5px, 50vh, 1rem);
           position: absolute;
           top: clamp(0.3rem, 50%, 5rem);
           left: 15rem;
           color: rgb(68, 24, 24);
}
.img-logo{
          margin-top: 0.6rem;
}
.everything{
          display: grid;
          grid-auto-flow: column;
          position: absolute;
          top: 14.5rem;
                   
}       
.icon{
     display: flex;
     flex-direction: column; 
     gap: 1rem;
} 
.student{
        background-color:#F3F0E2;
        width: clamp(10rem, 100%, 60rem);
        height:clamp(5rem, 100vh, 100rem);
}

.student h1{
        font-size:clamp(1px, 2vw, 22px);
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        color: #fff;
        background-color: #49BBBD;
        width: clamp(250px, 50vw, 900px); 
        padding: 0.4rem;
        margin-top: 1rem;
        box-shadow: 0px 5px 0px 0px  rgba(0, 0, 0, 0.1);
}
@media (max-width: 600px){
             .student h1{
                        white-space: nowrap;
                        width: 300px;
             }
}
.student p{
           margin-top: 2rem;
           margin-left: 5rem;
}
.reg{
     font-size: 16px;
     font-family: "Montserrat", sans-serif;
     font-weight: 700;
     font-size: bold;
     text-decoration: underline;
     
}
.re{
    text-decoration: underline;
    margin-left: 2rem;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: bold;
}
.student h5{
            margin-top: 4rem;
            margin-left: 5rem;
            font-size: 16px;
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            font-style: bold;
            text-decoration: underline;
}
.student h6{
           margin-left: 5rem;
           
}
#important{
          background-image: linear-gradient(to  right, #49BBBD,#545AE8);
          margin-top: 1rem;
          color: #fff;
        
}
.dashboard{
           background-image: linear-gradient(#49BBBD,#545AE8);
           position: relative;
           padding: clamp(0.5rem, 9%, 2rem);
           
                  
}
.dashboard h1{
            font-size: clamp(1rem, 2vw, 4rem);
}
.pic{
      position: absolute;
}
